@charset "gb2312";
/* www.pcfinal.cn */
img {
    border: none;
}

/*基本信息*/
dd, dl, dt, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-size: 12px;
    font-family: "宋体";
    line-height: 22px;
    color: #ffffff;
    margin: 0px;
    background-color: #015e9e
}

td {
    line-height: 22px;
    font-size: 12px;
    font-family: "宋体";
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:visited {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color: #ff0000;
}

a:active {
    color: #ffffff;
}

.fB {
    font-weight: bold;
}

.f12px {
    font-size: 10px;
    color: #f4dc90;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 20px;
    height: 20px;
    text-align: center;
}

.f14px {
    font-size: 12px;
    color: #7cbfec;
    line-height: 2.0
}

.f15px {
    font-size: 12px;
    color: #ffffff;
}

.f18px {
    color: #ffde00;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 10px;
}

.f16px {
    font-size: 12px;
    color: #aad4f2;
}

.f20px {
    font-size: 12px;
    color: #666666;
}

.f21px {
    font-size: 24px;
    color: #007cc3;
    font-family: "微软雅黑";
    font-weight: bold
}

.f22px {
    font-size: 15px;
    color: #373636;
    font-family: "微软雅黑";
}

.left {
    float: left;
}

.jl {
    padding-left: 60px;
}

.right {
    float: right;
}

.leftmenu {
    font-size: 19px;
    color: #FFFFFF;
    font-family: "宋体";
}

.boder {
    border: 1px solid #D8D8D8;
}

.top {
    padding-left: 10px;
    padding-right: 10px;
}

.cwhite, .cwhite:visited, .cwhite a {
    color: #fff;
}

.cYellow, .cYellow:visited {
    color: #471d19;
    font-size: 14px;
    font-weight: bold;
}

.cgreen, .cgreen:visited {
    color: #008000;
}

.cLGray, .cLGray:visited, .cLGray a, .cLGray a:visited {
    color: #333;
}

.cGray, .cGray:visited, .cGray a, .cGray a:visited {
    color: #585858;
    font-family: Arial;
}

.cDGray, .cDGray:visited, .cDGray a, .cDGray a:visited {
    color: #727171;
}

.cblack, .cblack:visited, .cblack a, .cblack a:visited {
    color: #000;
}

.cblue, .cblue:visited, .cblue a, .cblue a:visited {
    color: #471d19;
}

.cred, .cred:visited, .cred a, .cred a:visited {
    color: #471d19;
}

.cdRed, .cDRed:visited, .cDRed a, .cDRed a:visited {
    color: #ba2636;
}

/* CSS 间隙 */
.blank {
    border-left: 1px solid #DEDEDE;
    border-right: 1px solid #DEDEDE;
    border-top: 1px solid #A0D368;
    border-bottom: 1px solid #DEDEDE;
}

/*标题*/
h1 {
    font-size: 16px;
    font-weight: bold;
}

h2 {
    font-size: 14px;
    font-weight: bold;
}

h3 {
    font-size: 18px;
}

A.li:link {
    COLOR: #666666;
    font-size: 12px;
}

A.li:visited {
    COLOR: #666666;
    font-size: 12px;
}

A.li:hover {
    COLOR: #ff0000;
    font-size: 12px;
}

A.li:active {
    COLOR: #666666;
    font-size: 12px;
}

A.top:link {
    COLOR: #ffffff;
    font-size: 14px;
    font-family: "微软雅黑"
}

A.top:visited {
    COLOR: #ffffff;
    font-size: 14px;
    font-family: "微软雅黑"
}

A.top:hover {
    COLOR: #ff0000;
    font-size: 14px;
    font-family: "微软雅黑"
}

A.top:active {
    COLOR: #ffffff;
    font-size: 14px;
    font-family: "微软雅黑"
}

A.li1:link {
    font-size: 14px;
    color: #333333;
    font-family: "微软雅黑"
}

A.li1:visited {
    font-size: 14px;
    color: #333333;
    font-family: "微软雅黑"
}

A.li1:hover {
    font-size: 14px;
    color: #ff0000;
    font-family: "微软雅黑"
}

A.li1:active {
    font-size: 14px;
    color: #333333;
    font-family: "微软雅黑"
}

A.li2:link {
    font-size: 12px;
    color: #7cbfec;
    TEXT-DECORATION: none;
}

A.li2:visited {
    font-size: 12px;
    color: #7cbfec;
    TEXT-DECORATION: none;
}

A.li2:hover {
    font-size: 12px;
    color: #ff0000;
    TEXT-DECORATION: none;
}

A.li2:active {
    font-size: 12px;
    color: #7cbfec;
    TEXT-DECORATION: none;
}

A.bb:link {
    COLOR: #fcfbf4;
    TEXT-DECORATION: none;
}

A.bb:visited {
    COLOR: #fcfbf4;;
    TEXT-DECORATION: none;
}

A.bb:hover {
    COLOR: #ff0000;
    TEXT-DECORATION: none;
}

A.bb:active {
    COLOR: #fcfbf4;;
    TEXT-DECORATION: none;
}

A.cp:link {
    COLOR: #aad4f2;
    TEXT-DECORATION: none;
}

A.cp:visited {
    COLOR: #aad4f2;
    TEXT-DECORATION: none;
}

A.cp:hover {
    COLOR: #ff0000;
    TEXT-DECORATION: none;
}

A.cp:active {
    COLOR: #aad4f2;
    TEXT-DECORATION: none;
}

A.ls:link {
    COLOR: #ffffff;
    TEXT-DECORATION: none;
    font-size: 13px;
}

A.ls:visited {
    COLOR: #ffffff;
    TEXT-DECORATION: none;
    font-size: 13px;
}

A.ls:hover {
    COLOR: #ff0000;
    TEXT-DECORATION: none;
    font-size: 13px;
}

A.ls:active {
    COLOR: #ffffff;
    TEXT-DECORATION: none;
    font-size: 13px;
}

A.lp:link {
    COLOR: #5c5c5c;
    TEXT-DECORATION: none;
    font-size: 13px;
}

A.lp:visited {
    COLOR: #5c5c5c;
    TEXT-DECORATION: none;
    font-size: 13px;
}

A.lp:hover {
    COLOR: #ff0000;
    TEXT-DECORATION: none;
    font-size: 13px;
}

A.lp:active {
    COLOR: #5c5c5c;
    TEXT-DECORATION: none;
    font-size: 13px;
}

A.ll:link {
    COLOR: #ffffff;
    TEXT-DECORATION: none;
    font-size: 14px;
    font-weight: bold
}

A.ll:visited {
    COLOR: #ffffff;
    TEXT-DECORATION: none;
    font-size: 14px;
    font-weight: bold
}

A.ll:hover {
    COLOR: #ffff00;
    TEXT-DECORATION: none;
    font-size: 14px;
    font-weight: bold
}

A.ll:active {
    COLOR: #ffffff;
    TEXT-DECORATION: none;
    font-size: 14px;
    font-weight: bold
}

A.lo:link {
    COLOR: #A1A0A0;
    TEXT-DECORATION: none;
}

A.lo:visited {
    COLOR: #A1A0A0;
    TEXT-DECORATION: none;
}

A.lo:hover {
    COLOR: #ff0000;
    TEXT-DECORATION: none;
}

A.lo:active {
    COLOR: #A1A0A0;
    TEXT-DECORATION: none;
}

A.ly:link {
    COLOR: #348100;
    TEXT-DECORATION: none;
}

A.ly:visited {
    COLOR: #348100;
    TEXT-DECORATION: none;
}

A.ly:hover {
    COLOR: #ffffff;
    TEXT-DECORATION: none;
}

A.ly:active {
    COLOR: #C50000;
    TEXT-DECORATION: none;
}

A.ss:link {
    COLOR: #DAC36F;
    TEXT-DECORATION: none;
}

A.ss:visited {
    COLOR: #DAC36F;
    TEXT-DECORATION: none;
}

A.ss:hover {
    COLOR: #ffffff;
    TEXT-DECORATION: none;
}

A.ss:active {
    COLOR: #DAC36F;
    TEXT-DECORATION: none;
}

A.footer:link {
    COLOR: #ff0000;
    TEXT-DECORATION: none;
}

A.footer:visited {
    COLOR: #EFE2C0;
    TEXT-DECORATION: none;
}

A.footer:hover {
    COLOR: #ff0000;
    TEXT-DECORATION: none;
}

A.footer:active {
    COLOR: #ff0000;
    TEXT-DECORATION: none;
}

A.menu:link {
    COLOR: #730002;
    TEXT-DECORATION: none;
    font-size: 15px;
    font-weight: bold;
    font-family: "微软雅黑";
}

A.menu:visited {
    COLOR: #730002;
    TEXT-DECORATION: none;
    font-size: 15px;
    font-weight: bold;
    font-family: "微软雅黑";
}

A.menu:hover {
    COLOR: #ffff00;
    TEXT-DECORATION: none;
    font-size: 15px;
    font-weight: bold;
    font-family: "微软雅黑";
}

A.menu:active {
    COLOR: #730002;
    TEXT-DECORATION: none;
    font-size: 15px;
    font-weight: bold;
    font-family: "微软雅黑";
}

table {
    font-size: 12px;
    font-family: "宋体", verdana
}

.a {
    font-size: 12px;
    COLOR: #3A9607
}

.b {
    font-size: 13px;
    COLOR: #ffffff;
    font-weight: bold;
}

.b1 {
    font-size: 14px;
    COLOR: #ffffff;
    font-weight: bold;
}

.t {
    color: #304F00;
    font-weight: bold;
    font-size: 13px;
}

.e {
    font-size: 12px;
    COLOR: #2F8102
}

.f {
    font-size: 18px;
    color: #F60106;
    font-weight: bold;
}

.bk {
    border: 1px solid #CCCCCC;
}

.bk3 {
    border-left: 1px solid #D9D9D9;
    border-right: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
}

.bk2 {
    border-right: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
}

.bk4 {
    border: 1px solid #C5C5C5;
}

.ba {
    border-bottom: 1px solid #A9D2EF;
    border-left: 1px solid #A9D2EF;
    border-right: 1px solid #A9D2EF;
}

.jj {
    border-bottom: 1px solid #A9D2EF;
    border-left: 1px solid #A9D2EF;
    border-right: 1px solid #A9D2EF;
    border-top: 1px solid #A9D2EF;
    padding-left: 15px;
    padding-top: 20px;
    line-height: 30px;
}

.table-xia {
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    border-bottom-color: #7f7d7e;
}

.table-xia1 {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #0066cc;
}

.footer {
    font-size: 12px;
    color: #36383A;
}

#gd {
    width: 145px;
    height: 105px;
}

#gd:hover {
    border: 2px solid #FF780D
}

#zoom2 {
    font-size: 13px;
}

/* 导航下拉菜单 */
#nav {
    width: 100%;
    position: relative;
    z-index: 1;
    margin: 0px 0px;
    float: left
}

#nav li {
    display: block;
    float: left;
}

#nav dd {
    width: 538px;
    display: block;
    float: left;
}

#nav li.liHref {
    padding-left: 0px;
}

#nav span, #nav span a {
    display: block;
    width: 115px;
    color: #FFFFFF;
    font-size: 12px;
    text-align: center;
}

#nav span a:hover, #nav span.hover {
    cursor: pointer;
}

#nav a:hover {
    color: #FFFFFF;
    text-decoration: none;
}

.subNav {
    position: absolute;
    left: 20px;
    visibility: hidden;
    width: 600px;
    height: 450px;
    background-color: #FFFFFF;
    z-index: 0;
    padding-bottom: 20px;
}

.subNav b {
    display: block;
    text-align: left;
    line-height: 20px;
    padding-top: 5px;
    padding-left: 30px;
}

#nav b a, #nav b a:hover {
    color: #666666;
    font-size: 12px;
    font-weight: 100
}

#hot1 {
    left: 120px;
}

#hot2 {
    left: 300px;
}

#hot3 {
    left: 320px;
}

#hot4 {
    left: 375px;
}

#hot5 {
    left: 380px;
}

#hot6 {
    left: 610px;
}

#hot7 {
    left: 570px;
}

#hot8 {
    left: 442px;
}

/*页面主体2*/
#main2 {
    width: 1002px;
    margin: 0px auto;
    height: 113px;
    background-color: #ffffff;
    clear: both;
}

#div2_left {
    float: left;
    width: 233px;
    height: 113px;
    margin-left: 17px
}

#div2_middle {
    float: left;
    width: 233px;
    height: 113px;
    margin-left: 15px;
    margin-right: 15px;
    text-align: left
}

#div2_middle li {
    list-style: circle;
    line-height: 18px;
    width: 100%
}

#div2_right {
    float: left;
    width: 233px;
    height: 113px;
    margin-right: 15px;
}

#div2_right2 {
    float: left;
    width: 233px;
    height: 113px;
}

/* 科室动态 */
.tabb {
    height: 30px;
    padding-left: 0px;
    color: #eb1500;
    font-size: 15px;
    font-family: "微软雅黑"
}

.tabb li {
    line-height: 30px;
    width: 84px;
    text-align: center;
    float: left;
    margin-right: 20px;
    background: url(../images/1_12.jpg);
}

.tabb li.hover, .tab li:hover {
    width: 84px;
    background: url(../images/1_10.jpg);
    color: #f8ff3a
}

.tabb li a:hover {
    text-decoration: none;
    color: #eb1500
}

.tabb li a, .tabdl dt a, .connews a, .connews span {
    color: #eb1500;
}

.tabb li.hover a, .tabc li:hover a, .tabdl dt {
    text-decoration: none;
}

div#MainPromotionBanner {
    position: relative;
    width: 1002px;
    height: 422px;
    background: #ffffff;
}

#MainPromotionBanner #SlidePlayer {
    margin: 0 auto;
}

#MainPromotionBanner .Slides {
    padding: 0;
    margin: 0;
    list-style: none;
    height: 422px;
    overflow: hidden;
}

#MainPromotionBanner .Slides li {
    float: left;
    width: 1002px;
    height: 422px;
}

#MainPromotionBanner .Slides img {
    border: 0;
    display: block;
    width: 1002px;
    height: 422px;
}

#MainPromotionBanner .SlideTriggers {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    top: 390px;
    right: 5px;
    z-index: 10;
    height: 25px;
}

#MainPromotionBanner .SlideTriggers li {
    float: left;
    display: inline;
    color: #74a8ed;
    text-align: center;
    line-height: 16px;
    width: 16px;
    height: 16px;
    font-family: Arial;
    font-size: .9em;
    cursor: pointer;
    overflow: hidden;
    margin: 3px 6px;
    background: url(../images/slide_trigger.gif) no-repeat center center;
}

#MainPromotionBanner .SlideTriggers li.Current {
    color: #fff;
    background: url(../images/slide_trigger_c.gif) no-repeat center center;
    border: 0;
    font-weight: bold;
    font-size: 1.4em;
    line-height: 21px;
    height: 21px;
    width: 21px;
    margin: 0 6px;
}
