<div id="banner">
  <div id="inside-banner"><img src="/images/bfsc.jpg" width="980" height="192"/></div>
</div>
<div id="content">
  <div id="content-left">
    <div id="content-left-company">
      <div id="content-company-top"><img src="/images/bfsc1.jpg" width="172" height="42"/></div>
      <div id="content-company-bottom"><img src="/images/company-left1.jpg" width="12" height="12"/>
        <a href="color.asp" class="left" style="font-weight:bold">色彩中心</a></div>
    </div>
  </div>
  <div id="content-company">
    <div id="content-company-head"><img src="/images/sc.jpg" width="653" height="43"/></div>
    <div id="content-company-content"><P>
      <BR><IMG src="/images/1716134497.jpg" width=243 height=294>
      <IMG style="WIDTH: 274px; HEIGHT: 295px" src="/images/1716131089.jpg" width=277 height=329><BR>
      <IMG style="WIDTH: 236px; HEIGHT: 294px" src="/images/171693447.jpg" width=244 height=256>
      <IMG style="WIDTH: 233px; HEIGHT: 293px" src="/images/171695464.jpg" width=210 height=352><BR>
      <IMG style="WIDTH: 280px; HEIGHT: 370px" src="/images/1716121117.jpg" width=331 height=248>
      <IMG src="/images/1716122884.jpg" width=218 height=397><BR>
      <IMG style="WIDTH: 210px; HEIGHT: 337px" src="/images/1716125219.jpg" width=264 height=273>
      <IMG style="WIDTH: 245px; HEIGHT: 328px" src="/images/1716145975.jpg" width=262 height=400><BR>
      <IMG style="WIDTH: 306px; HEIGHT: 298px" src="/images/1716144297.jpg" width=474 height=210>
      <IMG src="/images/1716141771.jpg" width=262 height=300><BR>
    </div>
  </div>
</div>