<div id="banner"><%= image_tag('/images/contact.jpg') -%></div>
<div id="content">
  <div id="content-left">
    <div id="content-left-company">
      <div id="content-company-top"><img src="/images/contact1.jpg" width="172" height="42" /></div>
      <div id="content-company-bottom"><img src="/images/company-left1.jpg" width="12" height="12" />
        <a href="lxwm.asp" class="left" style="font-weight:bold">联系我们</a>
      </div>
    </div>
  </div>
  <div id="content-company">
    <div id="content-company-head"><img src="/images/lxwm2.jpg" width="653" height="43" /></div>
    <div id="content-company-content"><P><FONT size=4>河南羿方实业（集团）有限公司</FONT></P>
      <P><FONT size=4>联系电话：0371-67987801</FONT></P>
      <P><FONT size=4>全国服务电话：4000-878-777</FONT></P>
      <P><FONT size=4>河南羿方网址：</FONT><A target=_blank href="../" target=_blank><FONT size=4>www.hnyf-china.com</FONT></A></P></div>
  </div>
</div>