<table width="1002" border="0" cellpadding="0" cellspacing="0" bgcolor="0161a3">
  <tr>
    <td height="16"></td>
  </tr>
</table>

<table width="1002" border="0" cellpadding="0" cellspacing="0" bgcolor="0161a3">
  <tr>
    <td width="259" height="510" align="left" valign="top"><!-- 伸缩菜单 -->
      <script type="text/javascript" src="/javascripts/jquery3.js"></script>
      <script type="text/javascript" src="/javascripts/stretch.js"></script>
      <table width="233" border="0" cellpadding="0" cellspacing="0" background="/images/neiye_04.jpg">
        <tr>
          <td width="9" height="32" align="left" valign="top"><img src="/images/neiye_03.jpg" width="5" height="32"/>
          </td>
          <td width="66" align="right" valign="middle" style="padding-right:10px;">
            <img src="/images/neiye_09.jpg" width="20" height="17"/></td>
          <td width="146" align="left" valign="bottom" class="f18px">诚聘英才</td>
          <td width="12" align="right" valign="top"><img src="/images/neiye_06.jpg" width="7" height="32"/></td>
        </tr>
      </table>
      <table width="233" border="0" cellpadding="0" cellspacing="0" bgcolor="003052">
        <tr>
          <td height="200" align="center" valign="top">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td align="left">
                  <table width="100%" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td height="10" colspan="3"></td>
                    </tr>
                    <tr>
                      <td colspan="3" align="center" valign="top">
                        <!-- 子菜单 -->
                        <DIV id=menu>
       <SPAN class="hover">
	   <table width="100%" border="0" cellpadding="0" cellspacing="0">
         <tr>
           <td width="33%" height="28" align="right" valign="middle">
             <img src="/images/neiye_15.jpg" width="11" height="10"/></td>
           <td width="67%" align="left" valign="middle" style="padding-left:10px;">
             <a href="/home/hire">人才理念</a></td>
         </tr>
       </table>
       </SPAN>
                        </DIV>
                      </td>
                    </tr>
                    <tr>
                      <td height="10"></td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
      <%= render :partial => 'layouts/contact' -%>
    </td>
    <td width="743" align="left" valign="top">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td height="32" align="right" valign="middle" style="padding-right:20px;" class="f16px">您当前位置：
            <a href="/" class="cp">菏泽成强</a> &gt; 诚聘英才 &gt; 人才理念
          </td>
        </tr>
      </table>
      <table width="98%" border="0" cellpadding="0" cellspacing="0" background="/images/1_63.jpg">
        <tr>
          <td align="left" valign="top">
            <div style="background: url(../images/1_62.jpg);width: 29px;height: 9px;"></div>
          </td>
        </tr>
      </table>
      <table width="98%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td height="500" align="left" valign="top" style="padding:15px; line-height:180%; font-size:13px;"><p>
            　　核心理念：让想干事的人有机会，能干事的人有舞台，干成事的人有地位有待遇。唯才是举，真才必用。
          </p>

            <p>
              　　一是德才兼备原则。选拔和使用人才按照全面衡量，德才兼备的要求，坚持有德无才是庸人，有才无德是小人，德才不可偏废。
            </p>

            <p>
              　　二是“效果论”原则。在用才上，我们不看学历看能力，不看文凭看水平，无论是什么身份，什么学历，什么年龄，只要干得好，干得比其他人出色，业绩突出，就大胆启用，委以重任。目前，公司技术人员和中层管理人员平均年龄都在35岁左右，车间主任平均年龄在30岁左右。这些人虽然年龄不大，有的学历也不是很高，但有能力、有干劲、有业绩。我们坚持的“效果论”用人机制，使一大批德才兼备的人才脱颖而出，成为企业发展的栋梁。
            </p>

            <p>
              　　三是优胜劣汰的原则。在选用人才上，我们实现了由“伯乐相马”向“赛场选马”的转变，谁干得最好，我们就作为人才加以重用;否则，只能被淘汰出局。
            </p>

            <p>
              　　四是“人人是人才”的原则。在人才使用上，消除模式化和神秘化，做到因人而宜，量才适用。只要在合适的岗位上发挥出最大程度的才智，就是一定意义的人才。我们按照这个原则，根据每个员工的水平、特长、阅历、性格等，将其安排到相对适宜的岗位上，做到了人尽其才，才尽其能，促进了企业持续、快速、高效发展。
            </p>

            <p>
              &nbsp;
            </p></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="015690">
  <tr>
    <td height="20"></td>
  </tr>
</table>
