<div id="banner"></div>
<div id="content">
  <div id="content-left">content-left</div>
  <div id="content-center">
    <div id="content-center-top">
      <a href="/home/about_us">关于城强</a> |
      <a href="/home/company">企业文化</a> |
      <a href="/home/honor">城强荣誉</a> |
      <a href="/home/life">城强生活</a>
    </div>
    <div id="content-center-bottom">
      <p>
        河南羿方实业有限公司是一家集研发、生产、销售于一体的现代化企业，成立于2009年，注册资金2000万元，年产值约1.5亿元人民币。公司坐落在风景秀丽的郑州高新技术产业开发区金梭路36号，公司是一花园式生产工厂，总占地面积65余亩，厂房面积25000余平方米，下属河南羿方建筑工程有限公司、河南羿方砂业有限公司、河南羿方实业有限公司银川分公司、河南羿方实业有限公司开封分公司、武汉办事处、兰州办事处、西安办事处、太原办事处等，具有先进的材料及配套自动化生产设备，拥有现代化实验室和办公大楼，以及完善的文化、生活、办公娱乐设施。产品遍及全国各地，部分产品出口东南亚等地区。公司现有员工200余人，大专以上文化程度的60余人。
        我公司研制生产聚苯板、外墙保温专用乳胶粉、镁质A级外墙保温板及一体化板、建筑节能外墙外保温、各领域特种砂浆及涂料系列产品，产品广泛应用于民用建筑、高速公路、高速铁路、水利工程、核电站建设、太阳能节能建筑等国家级大型建设项目。2009年10月参与南水北调河南段的项目建设，2010年石武高速铁路、京沪高速铁路等国家级重大项目的建设。目前市场网络已覆盖河南省18个城市及宁夏、甘肃、青海、山西、陕西、北京、河北、山东、安徽、江苏、湖北等省市，随着公司的不断发展，将在全国大部分城市设立生产基地，市场网络逐步覆盖全国。
        我公司组织架构完善，管理科学、规范，各职能部门分工明确，职责权限清晰，实行绩效考核机制。公司自有专业的研发团队，又积极与宁夏建筑科学研究院、郑州大学、河南工业大学等合作，引进核心技术力量和科研人才，专注于产品技术的研发，确保产品质量，服务于客户、满足市场需求，为中国建筑节能做出积极贡献。
        公司注重企业文化建设，奉行“务实、求真、高效、优质、团结、进取”的核心价值观，倡导“以人为本”的企业理念，铸就了其浓厚独特的企业文化底蕴。
        公司以一流的生产设备、先进的工艺技术、尖端的科技人才、严谨的产品质量，良好的售后服务，不断开拓创新，以技术为核心、视质量为生命，为社会的发展做出应有的努力，服务社会，造福人民！羿方实业将打造中国建筑节能行业龙头企业，缔造中国涂料行业民族品牌！
      </p>
    </div>
  </div>
  <div id="content-right">
    content-right
  </div>
</div>