<style>
    .submenu {
        background: #fff;
        padding-bottom: 0px;
    }

    #menu {
        padding-top: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }

    #menu span {
        display: block;
        line-height: 28px;
        height: 28px;
        cursor: pointer;
    }

    #menu span a {
        display: block;
        background: url(../images/1_53.jpg) bottom no-repeat;
        line-height: 28px;
        height: 28px;
    }

    #menu span.activeTitle, #menu span.baknone {
        background: none;
    }

    #menu .menuContent, #menu .hoverContent {
        display: none;
        background: url(../images/1_53.jpg) bottom no-repeat;
    }

    #menu .hoverContent {
        display: block
    }

    #menu .menuContent li, #menu .hoverContent li {
        line-height: 28px;
        height: 28px;
        margin-right: 0px;
        padding-left: 80px;
        background: url(../images/1_53.jpg) bottom no-repeat;
    }

    #menu .menuContent li a, #menu .hoverContent li a {
        padding-left: 0px;
        font-size: 12px;
        color: #7cbfec
    }

    #menu .menuContent ul, #menu .hoverContent ul {
        padding-left: 0px;
        margin-top: 0px;
    }

    #menu *, #menu a:hover {
        color: #7cbfec;
        text-decoration: none;
        font-size: 14px;
        font-family: "宋体";
        font-weight: bold
    }

    #menu span a:hover, #menu .hover a, #menu .activeTitle a, #menu .hover a:hover, #menu .hover {
        color: #ff0000;
        background: url(../images/1_53.jpg) bottom no-repeat;
    }

    #menu .menuContent li a:hover, #menu .hoverContent li a:hover {
        font-size: 12px;
        color: #ff0000
    }
</style>
<table width="100%" border="0" cellpadding="0" cellspacing="0" background="/images/1_17.jpg">
<tr>
<td height="1130" align="center" valign="top">
<table width="1002" border="0" cellpadding="0" cellspacing="0" bgcolor="0164a7">
  <tr>
    <td width="446" height="155" align="center" valign="top">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td align="left" valign="top"><img alt="顺通艺彩涂料宁夏涂料公司简介" src="/images/1_19.jpg" width="178" height="62"></td>
        </tr>
      </table>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td height="7"></td>
        </tr>
      </table>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td align="left" valign="top"><img src="/images/1_28.jpg" width="324" height="9"></td>
        </tr>
      </table>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td height="20"></td>
        </tr>
      </table>
      <table width="95%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td align="left" valign="top" class="f14px">
            <img alt="宁夏顺通艺彩涂料有限公司" src="/images/1_33.jpg" width="188" height="113" hspace="8" align="left">
            菏泽成强建材科技有限公司成立于二零零五年，本公司是集生产、研发、销售、施工技术咨询于一体的综合性企业。公司现属于西北地区规模最大、产品种类最全面的装饰材料生产基地。
            公司成立至今一直专注于水性环保领域装饰材料的研究，并取得了长足的进步。现有两大类三十几个产品，
            涵盖家装、工装、基础工程等多个领域，旗下“菏泽成强”品牌在市场具有较高知名度，销售网络遍及西北五省，产品受到广大顾客的一致好评。……
            <a href="/home/about_us" class="li2">[+更多]</a>
          </td>
        </tr>
      </table>
    </td>
    <td width="150" align="center" valign="top"></td>
    <td width="406" align="right" valign="top">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td align="left" valign="top"><img alt="联系宁夏涂料公司顺通艺彩" src="/images/1_23.jpg" width="127" height="62"></td>
        </tr>
      </table>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td height="7"></td>
        </tr>
      </table>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td align="left" valign="top"><img alt="联系方式：13995405755" src="/images/1_30.jpg" width="324" height="9"></td>
        </tr>
      </table>
      <table width="100%" border="0" cellpadding="0" cellspacing="0" background="/images/1_31.png" style="background-repeat:no-repeat">
        <tr>
          <td height="272" align="left" valign="top" style="padding-left:35px;padding-top:15px; line-height:2.3" class="f14px">生产地址：山东省菏泽市牡丹区第三污水处理厂东500米<br>
            销售地址：宁夏银川市望远经济开发区4号路<br>
            联 系 人：唐经理 13037982626 <br>
            销售热线：0951-8027828<br>
            公司邮箱：13037982626@126.com <br>
            客服&nbsp;&nbsp;QQ：517266887
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<table width="1002" border="0" cellpadding="0" cellspacing="0" background="/images/1_41.jpg" style="background-repeat:repeat-x">
  <tr>
    <td height="5"></td>
  </tr>
</table>
<table width="1002" border="0" cellpadding="0" cellspacing="0" bgcolor="0161a3">
<tr>
<td align="center" valign="top">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="10"></td>
  </tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td width="23%" height="470" align="center" valign="top"><!-- 伸缩菜单 -->
  <script type="text/javascript" src="/javascripts/jquery3.js"></script>
  <script type="text/javascript" src="/javascripts/stretch.js"></script>
  <table width="204" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td><img src="/images/1_45.jpg" width="206" height="47"/></td>
    </tr>
  </table>
  <table width="206" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td height="311" align="center" valign="top">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="left">
              <table width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td height="10" colspan="3"></td>
                </tr>
                <tr>
                  <td colspan="3" align="center" valign="top">
                    <!-- 子菜单 -->
                    <DIV id=menu>

        <SPAN class=menuTitle><table width="100%" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td height="28" align="center" valign="bottom"><a href="/home/products">装饰装修类</a></td>
          </tr>
        </table>
       </SPAN>
        <SPAN class=menuTitle><table width="100%" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td height="28" align="center" valign="bottom"><a href="/home/products?classid=533">功能防腐类</a></td>
          </tr>
        </table>
       </SPAN>
        <SPAN><table width="100%" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td height="28" align="center" valign="bottom"><a href="/home/products?classid=525">保温砂浆类</a></td>
          </tr>
        </table>
        </SPAN>
        <SPAN><table width="100%" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td height="28" align="center" valign="bottom"><a href="/home/products?classid=526">墙体腻子类</a></td>
          </tr>
        </table>
        </SPAN>
                    </DIV>
                  </td>
                </tr>
                <tr>
                  <td height="10"></td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</td>
<td width="77%" align="center" valign="top">
<table width="95%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="89%" align="left" valign="top"><img alt="宁夏涂料真石漆展示" src="/images/1_47.jpg" width="182" height="47"></td>
    <td width="11%" align="center" valign="middle">
      <a rel="nofollow" href="/home/products" class="ls">+ MORE </a></td>
  </tr>
</table>
<table width="95%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="7"></td>
  </tr>
</table>
<table width="95%" border="0" cellpadding="0" cellspacing="0" style="background: url(../images/1_63.jpg)">
  <tr>
    <td height="9" align="left" valign="top">
      <div style="background: url(../images/1_62.jpg);width: 29px;height: 9px;"></div>
    </td>
  </tr>
</table>
<table width="95%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="20"></td>
  </tr>
</table>
<table width="95%" border="0" align="center" cellpadding="0" cellspacing="0">
<tr>
<td align="center" valign="top">
<div id=demo style="OVERFLOW: hidden; WIDTH: 730px; COLOR: #808080; HEIGHT: 360px">
<table width="600" border="0" align="left" cellpadding="0" cellspace="0">
<tr>
<td id="demo1" valign="top">
<table border="0" cellpadding="0" cellspacing="0">
<tr>
<td align="left">
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="left">
<tr>
<td valign="top">
<table width="100%" border="0" cellpadding="0" cellspacing="0" align="left">
<tr>
<td width="2%" align="center" valign="top"></td>
<td width="98%" align="left" valign="top">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td height="66" align="center" valign="top" style="padding-top:10px;">
<table width="100%" height="24" border="0" align="center" cellpadding="0" cellspacing="0">
<tr>
  <td valign="top">
    <table border="0" align="left" cellpadding="0" cellspacing="0">
      <tr>
        <td align="left" valign="top" height="110" width="150">
          <table width="100%" border="0" cellpadding="0" cellspacing="0" background="/images/1_55.jpg" style="background-repeat:no-repeat;">
            <tr>
              <td align="left" valign="top">
                <a href="/images/products/2014040315312744174.jpg" target="_blank" class="bb"><img src="/images/products/2014040315312744174.jpg" alt="醇酸漆3" width="165" height="117" hspace="3" vspace="3" border="0"></a>
              </td>
            </tr>
          </table>
          <table width="100%" border="0" cellpadding="0" cellspacing="0" background="/images/1_551.jpg">
            <tr>
              <td height="35" align="center" valign="middle">
                <a href="/images/products/2014040315312744174.jpg" target="_blank" class="bb">醇酸漆3</a>
              </td>
            </tr>
          </table>
        </td>
        <td width="43">&nbsp;&nbsp;&nbsp;</td>
      </tr>
    </table>
  </td>

  <td valign="top">
    <table border="0" align="left" cellpadding="0" cellspacing="0">
      <tr>
        <td align="left" valign="top" height="110" width="150">
          <table width="100%" border="0" cellpadding="0" cellspacing="0" background="/images/1_55.jpg" style="background-repeat:no-repeat;">
            <tr>
              <td align="left" valign="top">
                <a href="/images/products/2014040315314552584.jpg" target="_blank" class="bb"><img src="/images/products/2014040315314552584.jpg" alt="醇酸漆2" width="165" height="117" hspace="3" vspace="3" border="0"></a>
              </td>
            </tr>
          </table>
          <table width="100%" border="0" cellpadding="0" cellspacing="0" background="/images/1_551.jpg">
            <tr>
              <td height="35" align="center" valign="middle">
                <a href="/images/products/2014040315314552584.jpg" target="_blank" class="bb">醇酸漆2</a>
              </td>
            </tr>
          </table>
        </td>
        <td width="43">&nbsp;&nbsp;&nbsp;</td>
      </tr>
    </table>
  </td>

  <td valign="top">
    <table border="0" align="left" cellpadding="0" cellspacing="0">
      <tr>
        <td align="left" valign="top" height="110" width="150">
          <table width="100%" border="0" cellpadding="0" cellspacing="0" background="/images/1_55.jpg" style="background-repeat:no-repeat;">
            <tr>
              <td align="left" valign="top">
                <a href="/images/products/2014040315481499385.jpg" target="_blank" class="bb"><img src="/images/products/2014040315481499385.jpg" alt="全效墙面漆" width="165" height="117" hspace="3" vspace="3" border="0"></a>
              </td>
            </tr>
          </table>
          <table width="100%" border="0" cellpadding="0" cellspacing="0" background="/images/1_551.jpg">
            <tr>
              <td height="35" align="center" valign="middle">
                <a href="/images/products/2014040315481499385.jpg" target="_blank" class="bb">全效墙面漆</a>
              </td>
            </tr>
          </table>
        </td>
        <td width="43">&nbsp;&nbsp;&nbsp;</td>
      </tr>
    </table>
  </td>

  <td valign="top">
    <table border="0" align="left" cellpadding="0" cellspacing="0">
      <tr>
        <td align="left" valign="top" height="110" width="150">
          <table width="100%" border="0" cellpadding="0" cellspacing="0" background="/images/1_55.jpg" style="background-repeat:no-repeat;">
            <tr>
              <td align="left" valign="top">
                <a href="/images/products/2014040315433456191.jpg" target="_blank" class="bb"><img src="/images/products/2014040315433456191.jpg" alt="粉刷石膏" width="165" height="117" hspace="3" vspace="3" border="0"></a>
              </td>
            </tr>
          </table>
          <table width="100%" border="0" cellpadding="0" cellspacing="0" background="/images/1_551.jpg">
            <tr>
              <td height="35" align="center" valign="middle">
                <a href="/images/products/2014040315433456191.jpg" target="_blank" class="bb">粉刷石膏</a>
              </td>
            </tr>
          </table>
        </td>
        <td width="43">&nbsp;&nbsp;&nbsp;</td>
      </tr>
    </table>
  </td>
</tr>
<tr>
  <td height=30></td>
</tr>
<td valign="top">
  <table border="0" align="left" cellpadding="0" cellspacing="0">
    <tr>
      <td align="left" valign="top" height="110" width="150">
        <table width="100%" border="0" cellpadding="0" cellspacing="0" background="/images/1_55.jpg" style="background-repeat:no-repeat;">
          <tr>
            <td align="left" valign="top">
              <a href="/images/products/2014040315495998105.jpg" target="_blank" class="bb"><img src="/images/products/2014040315495998105.jpg" alt="聚氨酯漆" width="165" height="117" hspace="3" vspace="3" border="0"></a>
            </td>
          </tr>
        </table>
        <table width="100%" border="0" cellpadding="0" cellspacing="0" background="/images/1_551.jpg">
          <tr>
            <td height="35" align="center" valign="middle">
              <a href="/images/products/2014040315495998105.jpg" target="_blank" class="bb">聚氨酯漆/a>
            </td>
          </tr>
        </table>
      </td>
      <td width="43">&nbsp;&nbsp;&nbsp;</td>
    </tr>
  </table>
</td>

<td valign="top">
  <table border="0" align="left" cellpadding="0" cellspacing="0">
    <tr>
      <td align="left" valign="top" height="110" width="150">
        <table width="100%" border="0" cellpadding="0" cellspacing="0" background="/images/1_55.jpg" style="background-repeat:no-repeat;">
          <tr>
            <td align="left" valign="top">
              <a href="/images/products/2014040315351382111.jpg" target="_blank" class="bb"><img src="/images/products/2014040315351382111.jpg" alt="醇酸漆1" width="165" height="117" hspace="3" vspace="3" border="0"></a>
            </td>
          </tr>
        </table>
        <table width="100%" border="0" cellpadding="0" cellspacing="0" background="/images/1_551.jpg">
          <tr>
            <td height="35" align="center" valign="middle">
              <a href="/images/products/2014040315351382111.jpg" target="_blank" class="bb">醇酸漆1</a>
            </td>
          </tr>
        </table>
      </td>
      <td width="43">&nbsp;&nbsp;&nbsp;</td>
    </tr>
  </table>
</td>

<td valign="top">
  <table border="0" align="left" cellpadding="0" cellspacing="0">
    <tr>
      <td align="left" valign="top" height="110" width="150">
        <table width="100%" border="0" cellpadding="0" cellspacing="0" background="/images/1_55.jpg" style="background-repeat:no-repeat;">
          <tr>
            <td align="left" valign="top">
              <a href="/images/products/2014040216581232984.jpg" target="_blank" class="bb"><img src="/images/products/2014040216581232984.jpg" alt="岩片漆" width="165" height="117" hspace="3" vspace="3" border="0"></a>
            </td>
          </tr>
        </table>
        <table width="100%" border="0" cellpadding="0" cellspacing="0" background="/images/1_551.jpg">
          <tr>
            <td height="35" align="center" valign="middle">
              <a href="/images/products/2014040216581232984.jpg" target="_blank" class="bb">岩片漆</a>
            </td>
          </tr>
        </table>
      </td>
      <td width="43">&nbsp;&nbsp;&nbsp;</td>
    </tr>
  </table>
</td>

<td valign="top">
  <table border="0" align="left" cellpadding="0" cellspacing="0">
    <tr>
      <td align="left" valign="top" height="110" width="150">
        <table width="100%" border="0" cellpadding="0" cellspacing="0" background="/images/1_55.jpg" style="background-repeat:no-repeat;">
          <tr>
            <td align="left" valign="top">
              <a href="/images/products/2014040216573516510.jpg" target="_blank" class="bb"><img src="/images/products/2014040216573516510.jpg" alt="质感漆" width="165" height="117" hspace="3" vspace="3" border="0"></a>
            </td>
          </tr>
        </table>
        <table width="100%" border="0" cellpadding="0" cellspacing="0" background="/images/1_551.jpg">
          <tr>
            <td height="35" align="center" valign="middle">
              <a href="/images/products/2014040216573516510.jpg" target="_blank" class="bb">质感漆</a>
            </td>
          </tr>
        </table>
      </td>
      <td width="43">&nbsp;&nbsp;&nbsp;</td>
    </tr>
  </table>
</td>
</tr>
<tr>
  <td height=30></td>
</tr>
<td valign="top">
  <table border="0" align="left" cellpadding="0" cellspacing="0">
    <tr>
      <td align="left" valign="top" height="110" width="150">
        <table width="100%" border="0" cellpadding="0" cellspacing="0" background="/images/1_55.jpg" style="background-repeat:no-repeat;">
          <tr>
            <td align="left" valign="top">
              <a href="/images/products/2014040216561982752.jpg" target="_blank" class="bb"><img src="/images/products/2014040216561982752.jpg" alt="真石漆" width="165" height="117" hspace="3" vspace="3" border="0"></a>
            </td>
          </tr>
        </table>
        <table width="100%" border="0" cellpadding="0" cellspacing="0" background="/images/1_551.jpg">
          <tr>
            <td height="35" align="center" valign="middle">
              <a href="/images/products/2014040216561982752.jpg" target="_blank" class="bb">真石漆</a>
            </td>
          </tr>
        </table>
      </td>
      <td width="43">&nbsp;&nbsp;&nbsp;</td>
    </tr>
  </table>
</td>

<tr>
</table>
</td>
</tr>
</table>
</td>
</tr>
</table>
</td>
</table>
</td>
</tr>
</table>
</td>
<td id="demo2" valign="top"></td>
</tr>
</table>
<script language="javascript1.1">
        var speed=1
        demo2.innerHTML=demo1.innerHTML
        function Marquee(){
            if(demo2.offsetWidth-demo.scrollLeft<=0)
                demo.scrollLeft-=demo1.offsetWidth
            else{
                demo.scrollLeft++
            }
        }
        var MyMar=setInterval(Marquee,speed)
        demo.onmouseover=function() {clearInterval(MyMar)}
        demo.onmouseout=function() {MyMar=setInterval(Marquee,speed)}



</script>
</div>
</td>
</tr>
</table>
</td>
</tr>
</table>
</td>
</tr>
</table>
<table width="1002" border="0" cellpadding="0" cellspacing="0" background="/images/1_41.jpg">
  <tr>
    <td height="5"></td>
  </tr>
</table>
<table width="1002" border="0" cellpadding="0" cellspacing="0" bgcolor="0163a6">
  <tr>
    <td height="15"></td>
  </tr>
</table>
<table width="1002" border="0" cellpadding="0" cellspacing="0" bgcolor="0163a6">
  <tr>
    <td width="903" align="left" valign="top"><img alt="工程案例" src="/images/1_59.jpg" width="141" height="44"></td>
    <td width="99" align="center" valign="middle">
      <a rel="nofollow" href="/home/project" class="ls">+ MORE</a></td>
  </tr>
</table>
<table width="1002" border="0" cellpadding="0" cellspacing="0" bgcolor="0163a6">
  <tr>
    <td height="5"></td>
  </tr>
</table>
<table width="1002" border="0" cellpadding="0" cellspacing="0" background="/images/1_63.jpg">
  <tr>
    <td align="left" valign="top">
      <div style="background: url(../images/1_62.jpg);width: 29px;height: 9px;"></div>
    </td>
  </tr>
</table>
<table width="1002" border="0" cellpadding="0" cellspacing="0" bgcolor="0161a3">
  <tr>
    <td height="22"></td>
  </tr>
</table>
<table width="1002" border="0" cellpadding="0" cellspacing="0" background="/images/b_67.jpg">
  <tr>
    <td height="179" align="center" valign="top">
      <table width="100%" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td align="center" valign="top">
            <div id="img" style="overflow:hidden;width:1000px; margin:0 auto;0">
              <table width="185" border=0 align="center" cellpadding=0 cellspace=0>
                <tr>
                  <td width="179" valign=top id="img1">
                    <table width="100%" border=0 align=center cellpadding=0 cellspacing=0 bordercolor="#ffffff" cellspace=0>
                      <tr>

                        <td valign="top">
                          <table width="100%" border="0" cellpadding="0" cellspacing="0">
                            <tr>
                              <td width="161" background="/images/1_55.jpg" style="background-repeat:no-repeat;">
                                <a href="/images/project1.jpg" target="_blank"><img src="/images/project1.jpg" alt="银川市香溪美地国奥村项目" width="165" height="117" hspace="3" vspace="3" border="0"></a>
                              </td>
                            </tr>
                            <tr>
                              <td height="40" align="center" background="/images/1_551.jpg">
                                <a href="/images/project1.jpg" class="bb" target="_parent" title="银川市香溪美地国奥村项目">银川市香溪美地国奥村项目</a>
                              </td>
                            </tr>
                          </table>
                        </td>
                        <td width="25">
                          <div style="width:20px;"></div>
                        </td>

                        <td valign="top">
                          <table width="100%" border="0" cellpadding="0" cellspacing="0">
                            <tr>
                              <td width="161" background="/images/1_55.jpg" style="background-repeat:no-repeat;">
                                <a href="/images/project3.jpg" target="_blank"><img src="/images/project3.jpg" alt="银川市中海国际社区项目" width="165" height="117" hspace="3" vspace="3" border="0"></a>
                              </td>
                            </tr>
                            <tr>
                              <td height="40" align="center" background="/images/1_551.jpg">
                                <a href="/images/project3.jpg" class="bb" target="_parent" title="银川市中海国际社区项目">银川市中海国际社区项目</a>
                              </td>
                            </tr>
                          </table>
                        </td>
                        <td width="25">
                          <div style="width:20px;"></div>
                        </td>

                        <td valign="top">
                          <table width="100%" border="0" cellpadding="0" cellspacing="0">
                            <tr>
                              <td width="161" background="/images/1_55.jpg" style="background-repeat:no-repeat;">
                                <a href="/images/project6.jpg" target="_blank"><img src="/images/project6.jpg" alt="银川民生蔚湖城项目" width="165" height="117" hspace="3" vspace="3" border="0"></a>
                              </td>
                            </tr>
                            <tr>
                              <td height="40" align="center" background="/images/1_551.jpg">
                                <a href="/images/project6.jpg" class="bb" target="_parent" title="银川民生蔚湖城项目">银川民生蔚湖城项目</a>
                              </td>
                            </tr>
                          </table>
                        </td>
                        <td width="25">
                          <div style="width:20px;"></div>
                        </td>

                        <td valign="top">
                          <table width="100%" border="0" cellpadding="0" cellspacing="0">
                            <tr>
                              <td width="161" background="/images/1_55.jpg" style="background-repeat:no-repeat;">
                                <a href="/images/project7.jpg" target="_blank"><img src="/images/project7.jpg" alt="银川房管局平伏桥I标 II标III标项目" width="165" height="117" hspace="3" vspace="3" border="0"></a>
                              </td>
                            </tr>
                            <tr>
                              <td height="40" align="center" background="/images/1_551.jpg">
                                <a href="/images/project7.jpg" class="bb" target="_parent" title="银川房管局平伏桥I标 II标III标项目">银川房管局平伏桥I标 II标III标项目</a>
                              </td>
                            </tr>
                          </table>
                        </td>
                        <td width="25">
                          <div style="width:20px;"></div>
                        </td>

                        <td valign="top">
                          <table width="100%" border="0" cellpadding="0" cellspacing="0">
                            <tr>
                              <td width="161" background="/images/1_55.jpg" style="background-repeat:no-repeat;">
                                <a href="/images/project11.jpg" target="_blank"><img src="/images/project11.jpg" alt="银川中建八局烟草项目" width="165" height="117" hspace="3" vspace="3" border="0"></a>
                              </td>
                            </tr>
                            <tr>
                              <td height="40" align="center" background="/images/1_551.jpg">
                                <a href="/images/project11.jpg" class="bb" target="_parent" title="银川中建八局烟草项目">银川中建八局烟草项目</a>
                              </td>
                            </tr>
                          </table>
                        </td>
                        <td width="25">
                          <div style="width:20px;"></div>
                        </td>

                      </tr>
                    </table>
                  </td>
                  <td width="12" valign=top id="img2"></td>
                </tr>
              </table>
            </div>
          </td>
          <script language="JavaScript" type="text/javascript">

              var img = document.getElementById("img");
              var img1 = document.getElementById("img1");
              var img2 = document.getElementById("img2");
              var speedimg = 1;    //数值越大滚动速度越慢
              img2.innerHTML = img1.innerHTML;
              img.scrollLeft = img.scrollWidth;
              function Marqueeimg() {
                  if (img.scrollLeft <= 0)
                      img.scrollLeft += img2.offsetWidth;
                  else {
                      img.scrollLeft--
                  }
              }
              var MyMarimg = setInterval(Marqueeimg, speedimg);
              img.onmouseover = function () {
                  clearInterval(MyMarimg)
              }
              img.onmouseout = function () {
                  MyMarimg = setInterval(Marqueeimg, speedimg)
              }

          </script>
        </tr>
      </table>
    </td>
  </tr>
</table>
</td>
</tr>
</table>