<div id="banner">
  <div id="inside-banner"><img src="/images/news.jpg" width="982" height="189"/></div>
</div>
<div id="content-left">
  <div id="content-left-company">
    <div id="content-company-top"><img src="/images/products.jpg" width="172" height="47"/></div>
    <div id="content-company-bottom"><img src="/images/company-left1.jpg" width="12" height="12"/>
      <a href="?t=涂料系列" class="left" style="font-weight:bold">涂料系列</a></div>
    <div id="content-company-bottom"><img src="/images/company-left2.jpg" width="12" height="12"/>
      <a href="?t=羿方砂浆系列" class="left">羿方砂浆系列</a></div>
    <div id="content-company-bottom"><img src="/images/company-left2.jpg" width="12" height="12"/>
      <a href="?t=外保温板材系列" class="left">外保温板材系列</a></div>
    <div id="content-company-bottom"><img src="/images/company-left2.jpg" width="12" height="12"/>
      <a href="?t=外保温附件系列" class="left">外保温附件系列</a></div>
    <div id="content-company-bottom"><img src="/images/company-left2.jpg" width="12" height="12"/>
      <a href="?t=特种砂浆系列" class="left">特种砂浆系列</a></div>
    <div id="content-company-bottom"><img src="/images/company-left2.jpg" width="12" height="12"/>
      <a href="?t=胶粉系列" class="left">胶粉系列</a></div>

  </div>
</div>
<div id="content-company">
  <div id="content-company-head"><img src="/images/p1.jpg" width="653" height="43"/></div>

  <div id="content-company-content">

    <div id="content-pp">
      <div id="content-products">
        <a href="show_pro.asp?Id=51" target="_blank"><img src="files/417211027.jpg" width="134" height="127" border="0"/></a>
      </div>
      <div id="content-products-name"><a href="show_pro.asp?Id=51" target="_blank">天利堡外墙工程面漆</a></div>
    </div>
    <div id="content-pp">
      <div id="content-products">
        <a href="show_pro.asp?Id=50" target="_blank"><img src="files/417201855.jpg" width="134" height="127" border="0"/></a>
      </div>
      <div id="content-products-name"><a href="show_pro.asp?Id=50" target="_blank">地利堡有机硅改性高级墙</a></div>
    </div>
    <div id="content-pp">
      <div id="content-products">
        <a href="show_pro.asp?Id=49" target="_blank"><img src="files/417193045.jpg" width="134" height="127" border="0"/></a>
      </div>
      <div id="content-products-name"><a href="show_pro.asp?Id=49" target="_blank">和利堡超级弹性墙面漆</a></div>
    </div>
    <div id="content-pp">
      <div id="content-products">
        <a href="show_pro.asp?Id=48" target="_blank"><img src="files/417185742.jpg" width="134" height="127" border="0"/></a>
      </div>
      <div id="content-products-name"><a href="show_pro.asp?Id=48" target="_blank">羿方抗碱封闭底漆（白）</a></div>
    </div>
    <div id="content-pp">
      <div id="content-products">
        <a href="show_pro.asp?Id=47" target="_blank"><img src="files/41718341.jpg" width="134" height="127" border="0"/></a>
      </div>
      <div id="content-products-name"><a href="show_pro.asp?Id=47" target="_blank">佳彩超白墙面漆</a></div>
    </div>
    <div id="content-pp">
      <div id="content-products">
        <a href="show_pro.asp?Id=46" target="_blank"><img src="files/417164892.jpg" width="134" height="127" border="0"/></a>
      </div>
      <div id="content-products-name"><a href="show_pro.asp?Id=46" target="_blank">丽彩细滑高级墙面漆</a></div>
    </div>
    <div id="content-pp">
      <div id="content-products">
        <a href="show_pro.asp?Id=45" target="_blank"><img src="files/417161514.jpg" width="134" height="127" border="0"/></a>
      </div>
      <div id="content-products-name"><a href="show_pro.asp?Id=45" target="_blank">康彩全效净味墙面漆</a></div>
    </div>
    <div id="content-pp">
      <div id="content-products">
        <a href="show_pro.asp?Id=44" target="_blank"><img src="files/417152440.jpg" width="134" height="127" border="0"/></a>
      </div>
      <div id="content-products-name"><a href="show_pro.asp?Id=44" target="_blank">悦彩耐洗洁高级墙面漆</a></div>
    </div>
  </div>
  <div id="content-products-fenye">
    <font color=999999>首页</font>&nbsp;&nbsp;<font color=999999>上一页</font>&nbsp;&nbsp;<font color=#FF0000><b>1</b></font>&nbsp;&nbsp;<a href=?t=涂料系列&page=2>2</a>&nbsp;&nbsp;<a href=?t=涂料系列&page=3>3</a>&nbsp;&nbsp;<a href=?t=涂料系列&page=4>4</a>&nbsp;&nbsp;<a href=?t=涂料系列&page=2>下一页</a>&nbsp;&nbsp;<a href=?t=涂料系列&page=4>尾页</a>
  </div>
</div>
