<table width="1002" border="0" cellpadding="0" cellspacing="0" bgcolor="0161a3">
  <tr>
    <td height="16"></td>
  </tr>
</table>

<table width="1002" border="0" cellpadding="0" cellspacing="0" bgcolor="0161a3">
  <tr>
    <td width="259" height="510" align="left" valign="top"><!-- 伸缩菜单 -->
      <script type="text/javascript" src="/javascripts/jquery3.js"></script>
      <script type="text/javascript" src="/javascripts/stretch.js"></script>
      <table width="233" border="0" cellpadding="0" cellspacing="0" background="/images/neiye_04.jpg">
        <tr>
          <td width="9" height="32" align="left" valign="top"><img src="/images/neiye_03.jpg" width="5" height="32"/>
          </td>
          <td width="66" align="right" valign="middle" style="padding-right:10px;">
            <img src="/images/neiye_09.jpg" width="20" height="17"/></td>
          <td width="146" align="left" valign="bottom" class="f18px">工程案例</td>
          <td width="12" align="right" valign="top"><img src="/images/neiye_06.jpg" width="7" height="32"/></td>
        </tr>
      </table>
      <table width="233" border="0" cellpadding="0" cellspacing="0" bgcolor="003052">
        <tr>
          <td height="200" align="center" valign="top">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td align="left">
                  <table width="100%" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td height="10" colspan="3"></td>
                    </tr>
                    <tr>
                      <td colspan="3" align="center" valign="top">
                        <!-- 子菜单 -->
                        <DIV id=menu>
			        
       <SPAN class="hover">
	   <table width="100%" border="0" cellpadding="0" cellspacing="0">
         <tr>
           <td width="33%" height="28" align="right" valign="middle">
             <img src="/images/neiye_15.jpg" width="11" height="10"/></td>
           <td width="67%" align="left" valign="middle" style="padding-left:10px;">
             <a href="photolist.asp?classid=445">工程案例</a></td>
         </tr>
       </table>
       </SPAN>


                        </DIV>
                      </td>
                    </tr>
                    <tr>
                      <td height="10"></td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
      <%= render :partial => 'layouts/contact' -%>
    </td>
    <td width="743" align="left" valign="top">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td height="32" align="right" valign="middle" style="padding-right:20px;" class="f16px">您当前位置：
            <a href="/" class="cp">首页</a> &gt; 工程案例 &gt; 工程案例
          </td>
        </tr>
      </table>
      <table width="98%" border="0" cellpadding="0" cellspacing="0" background="/images/1_63.jpg">
        <tr>
          <td align="left" valign="top">
            <div style="background: url(../images/1_62.jpg);width: 29px;height: 9px;"></div>
          </td>
        </tr>
      </table>
      <table width="98%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td height="500" align="left" valign="top" style="padding:15px; line-height:180%; font-size:13px;">
            <table width="100%" height="113" border="0" cellpadding="0" cellspacing="0">

              <tr>

                <td height="81" width="188" align="center" class="td4" style="padding-top:8px; padding-bottom:5px; padding-left:15px;">
                  <table border="0" cellpadding="0" cellspacing="0" bgcolor="f6f6f6" style="border:1px solid #d8d8d8;">
                    <tr>
                      <td style="padding:3px;">
                        <a href="photo_view.asp?id=1093"><img alt="中卫热电厂-环氧煤沥" src="" width="180" height="150" hspace="3" vspace="3" border="0"/></a>
                      </td>
                    </tr>
                  </table>
                  <table width="150" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td height="20" align="center"><a href="photo_view.asp?id=1093">中卫热电厂-环氧煤沥</a></td>
                    </tr>
                  </table>
                </td>

                <td height="81" width="188" align="center" class="td4" style="padding-top:8px; padding-bottom:5px; padding-left:15px;">
                  <table border="0" cellpadding="0" cellspacing="0" bgcolor="f6f6f6" style="border:1px solid #d8d8d8;">
                    <tr>
                      <td style="padding:3px;">
                        <a href="photo_view.asp?id=1014"><img alt="银川市指挥中心-外墙" src="/uploadfile/news/20143/2014031515421146330.jpg" width="180" height="150" hspace="3" vspace="3" border="0"/></a>
                      </td>
                    </tr>
                  </table>
                  <table width="150" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td height="20" align="center"><a href="photo_view.asp?id=1014">银川市指挥中心-外墙</a></td>
                    </tr>
                  </table>
                </td>

                <td height="81" width="188" align="center" class="td4" style="padding-top:8px; padding-bottom:5px; padding-left:15px;">
                  <table border="0" cellpadding="0" cellspacing="0" bgcolor="f6f6f6" style="border:1px solid #d8d8d8;">
                    <tr>
                      <td style="padding:3px;">
                        <a href="photo_view.asp?id=1013"><img alt="银川物化兴洲苑-外墙" src="/uploadfile/news/20143/2014031515392494653.jpg" width="180" height="150" hspace="3" vspace="3" border="0"/></a>
                      </td>
                    </tr>
                  </table>
                  <table width="150" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td height="20" align="center"><a href="photo_view.asp?id=1013">银川物化兴洲苑-外墙</a></td>
                    </tr>
                  </table>
                </td>
              </tr>
              <td height="81" width="188" align="center" class="td4" style="padding-top:8px; padding-bottom:5px; padding-left:15px;">
                <table border="0" cellpadding="0" cellspacing="0" bgcolor="f6f6f6" style="border:1px solid #d8d8d8;">
                  <tr>
                    <td style="padding:3px;">
                      <a href="photo_view.asp?id=1012"><img alt="银川国奥村-外墙真石" src="/uploadfile/news/20143/2014031515345337676.jpg" width="180" height="150" hspace="3" vspace="3" border="0"/></a>
                    </td>
                  </tr>
                </table>
                <table width="150" border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td height="20" align="center"><a href="photo_view.asp?id=1012">银川国奥村-外墙真石</a></td>
                  </tr>
                </table>
              </td>

              <td height="81" width="188" align="center" class="td4" style="padding-top:8px; padding-bottom:5px; padding-left:15px;">
                <table border="0" cellpadding="0" cellspacing="0" bgcolor="f6f6f6" style="border:1px solid #d8d8d8;">
                  <tr>
                    <td style="padding:3px;">
                      <a href="photo_view.asp?id=1011"><img alt="宁夏防沙治沙学校-外" src="/uploadfile/news/20143/2014031515283956850.jpg" width="180" height="150" hspace="3" vspace="3" border="0"/></a>
                    </td>
                  </tr>
                </table>
                <table width="150" border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td height="20" align="center"><a href="photo_view.asp?id=1011">宁夏防沙治沙学校-外</a></td>
                  </tr>
                </table>
              </td>

              <td height="81" width="188" align="center" class="td4" style="padding-top:8px; padding-bottom:5px; padding-left:15px;">
                <table border="0" cellpadding="0" cellspacing="0" bgcolor="f6f6f6" style="border:1px solid #d8d8d8;">
                  <tr>
                    <td style="padding:3px;">
                      <a href="photo_view.asp?id=1010"><img alt="宁夏职业技术学院-外" src="/uploadfile/news/20143/2014031515245313783.jpg" width="180" height="150" hspace="3" vspace="3" border="0"/></a>
                    </td>
                  </tr>
                </table>
                <table width="150" border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td height="20" align="center"><a href="photo_view.asp?id=1010">宁夏职业技术学院-外</a></td>
                  </tr>
                </table>
              </td>
              </tr>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="015690">
  <tr>
    <td height="20"></td>
  </tr>
</table>
