<div id="banner">
  <div id="inside-banner"><img src="/images/gczs2.jpg" width="980" height="194"/></div>
</div>
<div id="content">
  <div id="content-left">
    <div id="content-left-company">
      <div id="content-company-top"><img src="/images/gczs.jpg" width="172" height="42"/></div>
      <div id="content-company-bottom"><img src="/images/company-left2.jpg" width="12" height="12"/>
        <a href="?t=羿方工程" class="left" style="font-weight:bold">羿方工程</a></div>
    </div>
  </div>
  <div id="content-company">
    <div id="content-company-head"><img src="/images/gczs1.jpg" width="653" height="43"/></div>

    <div id="content-company-content">

      <div id="content-pp">
        <div id="content-products">
          <a href="show_gczs.asp?Id=281" target="_blank"><img src="files/23835596.jpg" width="134" height="127" border="0"/></a>
        </div>
        <div id="content-products-name"><a href="show_gczs.asp?Id=281" target="_blank">驻马店中南阳光花园</a></div>
      </div>
      <div id="content-pp">
        <div id="content-products">
          <a href="show_gczs.asp?Id=280" target="_blank"><img src="files/238345013.jpg" width="134" height="127" border="0"/></a>
        </div>
        <div id="content-products-name"><a href="show_gczs.asp?Id=280" target="_blank">驻马店中南城市花园</a></div>
      </div>
      <div id="content-pp">
        <div id="content-products">
          <a href="show_gczs.asp?Id=278" target="_blank"><img src="files/238341466.jpg" width="134" height="127" border="0"/></a>
        </div>
        <div id="content-products-name"><a href="show_gczs.asp?Id=278" target="_blank">驻马店天中第一城</a></div>
      </div>
      <div id="content-pp">
        <div id="content-products">
          <a href="show_gczs.asp?Id=277" target="_blank"><img src="files/238335912.jpg" width="134" height="127" border="0"/></a>
        </div>
        <div id="content-products-name"><a href="show_gczs.asp?Id=277" target="_blank">周口职业技术学院</a></div>
      </div>
      <div id="content-pp">
        <div id="content-products">
          <a href="show_gczs.asp?Id=276" target="_blank"><img src="files/238334221.jpg" width="134" height="127" border="0"/></a>
        </div>
        <div id="content-products-name"><a href="show_gczs.asp?Id=276" target="_blank">郑州御府三号</a></div>
      </div>
      <div id="content-pp">
        <div id="content-products">
          <a href="show_gczs.asp?Id=275" target="_blank"><img src="files/238332944.jpg" width="134" height="127" border="0"/></a>
        </div>
        <div id="content-products-name"><a href="show_gczs.asp?Id=275" target="_blank">郑州非常SOHO</a></div>
      </div>
      <div id="content-pp">
        <div id="content-products">
          <a href="show_gczs.asp?Id=274" target="_blank"><img src="files/238324414.jpg" width="134" height="127" border="0"/></a>
        </div>
        <div id="content-products-name"><a href="show_gczs.asp?Id=274" target="_blank">怡丰新都汇</a></div>
      </div>
      <div id="content-pp">
        <div id="content-products">
          <a href="show_gczs.asp?Id=273" target="_blank"><img src="files/238322848.jpg" width="134" height="127" border="0"/></a>
        </div>
        <div id="content-products-name"><a href="show_gczs.asp?Id=273" target="_blank">许昌胖东来生活广场</a></div>
      </div>
    </div>
    <div id="content-products-fenye">
      <font color=999999>首页</font>&nbsp;&nbsp;<font color=999999>上一页</font>&nbsp;&nbsp;<font color=#FF0000><b>1</b></font>&nbsp;&nbsp;<a href=?t=羿方工程&page=2>2</a>&nbsp;&nbsp;<a href=?t=羿方工程&page=3>3</a>&nbsp;&nbsp;<a href=?t=羿方工程&page=4>4</a>&nbsp;&nbsp;<a href=?t=羿方工程&page=5>5</a>&nbsp;&nbsp;<a href=?t=羿方工程&page=2>下一页</a>&nbsp;&nbsp;<a href=?t=羿方工程&page=5>尾页</a>
    </div>
  </div>
</div>