<div id="banner">
  <div id="inside-banner"><img src="/images/xswl1.jpg" width="980" height="193"/></div>
</div>
<div id="content">
  <div id="content-left">
    <div id="content-left-company">
      <div id="content-company-top"><img src="/images/xswl3.jpg" width="172" height="42"/></div>
      <div id="content-company-bottom"><img src="/images/company-left1.jpg" width="12" height="12"/>
        <a href="?t=18" class="left" style="font-weight:bold">销售网络</a></div>
    </div>
  </div>
  <div id="content-company">
    <div id="content-company-head"><img src="/images/xswl2.jpg" width="653" height="43"/></div>
    <div id="content-company-content"><P align=center>
      <BR><BR><IMG style="WIDTH: 498px; HEIGHT: 384px" src="/images/30842025.jpg" width=394 height=414><BR><BR><BR>
      <IMG style="WIDTH: 422px; HEIGHT: 346px" src="/images/615251579.jpg" width=900 height=900><BR>
      <IMG style="WIDTH: 482px; HEIGHT: 351px" src="/images/228583486.jpg" width=534 height=375>
    </P>

      <P align=center><BR><IMG style="WIDTH: 424px; HEIGHT: 362px" src="/images/22921257.jpg" width=516 height=362><BR>
      </P></div>
  </div>
</div>