<table width="1002" border="0" cellpadding="0" cellspacing="0" bgcolor="0161a3">
  <tr>
    <td height="16"></td>
  </tr>
</table>

<table width="1002" border="0" cellpadding="0" cellspacing="0" bgcolor="0161a3">
  <tr>
    <td width="259" height="510" align="left" valign="top"><!-- 伸缩菜单 -->
      <script type="text/javascript" src="/javascripts/jquery3.js"></script>
      <script type="text/javascript" src="/javascripts/stretch.js"></script>
      <table width="233" border="0" cellpadding="0" cellspacing="0" background="/images/neiye_04.jpg">
        <tr>
          <td width="9" height="32" align="left" valign="top"><img src="/images/neiye_03.jpg" width="5" height="32"/>
          </td>
          <td width="66" align="right" valign="middle" style="padding-right:10px;">
            <img src="/images/neiye_09.jpg" width="20" height="17"/></td>
          <td width="146" align="left" valign="bottom" class="f18px">售后服务</td>
          <td width="12" align="right" valign="top"><img src="/images/neiye_06.jpg" width="7" height="32"/></td>
        </tr>
      </table>
      <table width="233" border="0" cellpadding="0" cellspacing="0" bgcolor="003052">
        <tr>
          <td height="200" align="center" valign="top">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td align="left">
                  <table width="100%" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td height="10" colspan="3"></td>
                    </tr>
                    <tr>
                      <td colspan="3" align="center" valign="top">
                        <!-- 子菜单 -->
                        <DIV id=menu>
			        
       <SPAN class="hover">
	   <table width="100%" border="0" cellpadding="0" cellspacing="0">
         <tr>
           <td width="33%" height="28" align="right" valign="middle">
             <img src="/images/neiye_15.jpg" width="11" height="10"/></td>
           <td width="67%" align="left" valign="middle" style="padding-left:10px;">
             <a href="/home/service">售后服务</a></td>
         </tr>
       </table>
       </SPAN>


                        </DIV>
                      </td>
                    </tr>
                    <tr>
                      <td height="10"></td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
      <%= render :partial => 'layouts/contact' -%>
    </td>
    <td width="743" align="left" valign="top">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td height="32" align="right" valign="middle" style="padding-right:20px;" class="f16px">您当前位置：
            <a href="/" class="cp">菏泽成强</a> &gt; 售后服务 &gt; 售后服务
          </td>
        </tr>
      </table>
      <table width="98%" border="0" cellpadding="0" cellspacing="0" background="/images/1_63.jpg">
        <tr>
          <td align="left" valign="top">
            <div style="background: url(../images/1_62.jpg);width: 29px;height: 9px;"></div>
          </td>
        </tr>
      </table>
      <table width="98%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td height="500" align="left" valign="top" style="padding:15px; line-height:180%; font-size:13px;"><p>
            　　我们的团队
          </p>

            <p>
              　　我们牢记-------要踏实走好每一步。
            </p>

            <p>
              　　我们坚信-------优质的产品是获取客户信任不变的唯一有效途径。
            </p>

            <p>
              　　我们深知-------点滴之水难成江海的道理，成功来自于团队。
            </p>

            <p>
              　　售前团队：由多名优秀的商务代表和打样师、工程师组成的售前服务队伍，专心为客户选择最为合适并经济的材料或方案。
            </p>

            <p>
              　　技术团队：良好的教育背景，多年的从业经验，但又不乏新鲜血液，他们不断推陈出新，引领市场。
            </p>

            <p>
              　　制造团队：多年来，我们生产制造了应用在各行各业的建筑物上，不断的为用户创造着价值。
            </p>

            <p>
              　　工程服务团队：迅速并且专业的工程施工及售后服务队伍，他们用实干精神，让我们的每一批材料，每一个项目都能够顺利的交付客户。
            </p>

            <p>
              　　我们的服务
            </p>

            <p>
              　　客服的满意，社会的认同就是我们对自己的要求。
            </p>

            <p>
              　　我们相信客户需要的是一套高效可靠、品质卓越的解决方案，不仅仅是要好的产品，更是要一整套完美的服务。我们从不认为客户订购“菏泽成强”的产品是我们目标的全部，它仅仅是享受一系列高效产品和服务的开始，我们的目标是让客户对我们提供的一切至始至终放心满意!
            </p>

            <p>
              　　售后服务：与我们的商务代表交流、咨询，您可以得到适用、合理、安全、环保的解决方案。同时我们有专业的实验室，有专门的实验室设备以及检测仪器，可以非常方便的提供测试，获得数据的生产经验。
            </p></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
