<table width="233" border="0" cellpadding="0" cellspacing="0" background="/images/neiye_04.jpg">
  <tr>
    <td width="9" height="32" align="left" valign="top"><img src="/images/neiye_03.jpg" width="5" height="32" /></td>
    <td width="66" align="right" valign="middle" style="padding-right:10px;"><img src="/images/neiye_09.jpg" width="20" height="17" /></td>
    <td width="146" align="left" valign="bottom" class="f18px">联系我们</td>
    <td width="12" align="right" valign="top"><img src="/images/neiye_06.jpg" width="7" height="32" /></td>
  </tr>
</table>
<table width="233" border="0" cellpadding="0" cellspacing="0" background="/images/neiye_19.jpg">
  <tr>
    <td width="38" height="188" align="left" valign="top"><img src="/images/neiye_18.jpg" width="31" height="188" /></td>
    <td width="195" align="left" valign="top" style="line-height:1.9" class="f14px">生产地址：银川市金凤区金凤工业园区双渠口西路<br />
      销售地址：银川市西夏区燕宝钢材市场B-06-07<br />
      联 系 人：张经理   13995405755 <br />
      销售热线：0951-5600915<br />
      公司邮箱：shuntongyicai@163.com <br />
      客服QQ:130168081</td>
  </tr>
</table>