<!DOCTYPE html>
<html>
<head>
  <title>菏泽城强</title>
  <META content="text/html; charset=utf-8" http-equiv="Content-Type">
  <script type="text/javascript" src="/javascripts/jquery-1.5.2.min.js"></script>
  <script type="text/javascript" src="/javascripts/jquery-ui-1.8.12.custom.min.js"></script>
  <script type="text/javascript" src="/javascripts/application.js"></script>
  <link href="/stylesheets/smoothness/jquery-ui-1.8.12.custom.css" media="screen" rel="stylesheet" type="text/css"/>
  <link href="/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css"/>
  <meta content="ie=7" http-equiv="x-ua-compatible"/>
  <META name="keywords" content="">
  <META name="description" content="">
</head>
<body>

<div id="contain">
  <%= render :partial => 'layouts/header' -%>
  <%= yield %>
  <%= render :partial => 'layouts/footer' -%>
</div>

</body>
</html>
